---
swagger: "2.0"
info:
  description: "SlugSpace API - Realtime Parking Data and Metrics."
  version: "0.0.1"
  title: "SlugSpace"
  contact:
    email: "colby.leiske@gmail.com"
  license:
    name: "GNU 3.0"
    url: "https://www.gnu.org/licenses/gpl-3.0.en.html"
host: "slugspace.xyz"
basePath: "/v1"
tags:
- name: "lot"
  description: "Everything about a parking lot"
schemes:
- "https"
- "http"
paths:
  /lot/{lotID}:
    get:
      tags:
      - "lot"
      summary: "Find lot by ID"
      description: "Returns a single lots information"
      operationId: "getLotByID"
      produces:
      - "application/json"
      parameters:
      - name: "lotID"
        in: "path"
        description: "ID of lot to return"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "LotID"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Lot"
        400:
          description: "Invalid ID supplied"
        404:
          description: "Lot not found"
definitions:
  Lot:
    type: "object"
    required:
    - "freeSpaces"
    - "id"
    - "lastUpdated"
    - "name"
    - "totalSpaces"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
        example: "West Remote"
      freeSpaces:
        type: "integer"
        format: "int64"
      totalSpaces:
        type: "integer"
        format: "int64"
      lastUpdated:
        type: "string"
        example: "2018-01-01 00:00:00"
    example:
      lastUpdated: "2018-01-01 00:00:00"
      name: "West Remote"
      totalSpaces: 1
      id: 0
      freeSpaces: 6
    xml:
      name: "Lot"
